.container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
}

.heading>:nth-child(1) {
    color: var(--themeRed);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.heading>:nth-child(2),
.heading>:nth-child(3) {
    font-size: 2rem;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    /* align-items: center; */
    justify-content: space-between;
}

.pizza {
    width: 31%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.imageWrapper {
    height: 16rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

/* next pre built image component work like this */
.imageWrapper>img:hover {
    transform: scale(1.1);
}

.pizza:hover {
    cursor: pointer;
}

.tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.tabs .tab {
    width: 90px;
    border-radius: 0.5rem;
    padding: 0.4rem;
    opacity: 0.5;
    background-color: white;
    transition: all .5s ease;
    word-wrap: break-word;
}

.tabs .tab .icon {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid #D9DBE0;
    background-color: #FBFBFB;
}

.tabs .tab span {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
    margin-top: 0.6rem;
}

.tabs .tab:hover,
.tabs .tab.active {
    opacity: 1;
    cursor: pointer;
    background-color: #DF9534;
}

.tabs .tab:hover .icon,
.tabs .tab.active .icon {
    background-color: white;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .heading>:nth-child(1) {
        margin-bottom: 1rem;
    }

    .heading>:nth-child(2),
    .heading>:nth-child(3) {
        font-size: 1.5rem;
    }

    .pizza {
        width: 100%;
    }

    .imageWrapper {
        width: 100%;
    }

    .tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .menu {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }

    .pizza {
        width: 48%;
        margin-bottom: 1.5rem;
    }

    .imageWrapper {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .pizza {
        width: 48%;
        margin-bottom: 1.5rem;
    }

    .imageWrapper {
        width: 100%;
    }
}